html,
body {
    overflow: hidden;
    margin: 0px;
    user-select: none;
    width: 100%;
    height: 100%;
    
}
#lib{
    width: 1000px;
    height: 800px;
    filter:blur(3px);
    position: fixed;
    animation: panX 10s ease-in-out infinite;
}
@keyframes panX{
  0%   { transform: translateX(0); }
  100% { transform: translateX(-200px); }  
}
#bookshelf{
    width: 280px;
    position: fixed;
    top: 80px;
    left: 65px;
    z-index: 5;
}
#shelf{
    position: fixed;
    font-family:Gasoek One;
    font-size: 40px;
    color: #fff;
    text-shadow:
    2px 0   #000, -2px 0   #000,
    0   2px #000,  0  -2px #000,
    2px 2px #000, -2px 2px #000,
    2px -2px #000, -2px -2px #000;
    top: 20px;
    left: 120px;
    z-index: 5;
}
#book1{
    width: 75px;
    position: fixed;
    top: 100px;
    left: 105px;
    z-index: 5;
    cursor: pointer;
}
#returnButton{
    width: 50px;
    height: 30px;
    background-color:deepskyblue;
    border-radius: 10px;
    position: fixed;
    top:30px;
    left:20px;
    font-size: 10px;
    color:black;
    text-align: center;
    line-height: 30px;
    z-index: 10;
    cursor: pointer;
}
#book2{
    width: 83px;
    position: fixed;
    top: 100px;
    left: 230px;
    z-index: 5;
    cursor: pointer;
}
#book3{
    width: 80px;
    position: fixed;
    top: 230px;
    left: 230px;
    z-index: 5;
    cursor: pointer;
}
#book4{
    width: 83px;
    position: fixed;
    top: 360px;
    left: 100px;
    z-index: 5;
    cursor: pointer;
}