html,
body {
    overflow: hidden;
    margin: 0px;
    user-select: none;
    width: 100%;
    height: 100%;
    
}
#lib{
    width: 1000px;
    height: 800px;
    filter:blur(3px);
    position: fixed;
    animation: panX 10s ease-in-out infinite;
}
@keyframes panX{
  0%   { transform: translateX(0); }
  100% { transform: translateX(-200px); }  
}
#책커버{
    width: 350px; height: 350px;
    background-color:darkcyan;
    border-radius: 4px;
    position: fixed;
    top:150px; left: 30px;
    z-index: 1;
   
}
#종이{
    width: 330px; height: 350px;
    background-color:ghostwhite;
    border-radius: 4px;
    position: fixed;
    top:150px; left: 40px;
    z-index: 2;
    
}
#guide{
    width: 300px; height: 280px;
    background-color:transparent;
    position: fixed;
    top:150px; left: 50px;
    z-index: 3;
    font-size: 13px;
    line-height: 20px;
    color: black;
    z-index: 3;
}

#guide h2,#guide p{
    text-align: center;
}
#returnButton{
    width: 50px;
    height: 30px;
    background-color:deepskyblue;
    border-radius: 10px;
    position: fixed;
    top:430px;
    left:170px;
    font-size: 10px;
    color:black;
    text-align: center;
    line-height: 30px;
    z-index: 10;
    cursor: pointer;
}