html,
body {
    overflow: hidden;
    margin: 0px;
    user-select: none;
    width: 100%;
    height: 100%;
    background-color: black;
}
#pause{
    font-size: 30px;

}
#등판{
    width: 365px; height: 300px;
    background-color:rgb(232, 200, 159);
    border-radius: 10px;
    position: fixed;
    top:260px; left: 20px;
    z-index: 1;
}
#밑단{
    width: 384px; height: 30px;
    background-color:rgb(206, 177, 139);
    border-radius: 10px;
    position: fixed;
    top:550px; left: 10px;
    z-index: 2;
}
#철사{
    width: 500px; height: 500px;
    background-color:rgb(77, 70, 60);
    border-radius: 10px;
    position: fixed;
    top:10x; left: 150px;
    z-index: 6;
}
#책커버{
    width: 340px; height: 350px;
    background-color:darkcyan;
    border-radius: 4px;
    position: fixed;
    top:200px; left: 30px;
    z-index: 4;
}
#종이{
    width: 320px; height: 350px;
    background-color:ghostwhite;
    border-radius: 4px;
    position: fixed;
    top:200px; left: 40px;
    z-index: 5;
}
#textArea1{
    position: fixed;
    top:200px;
    left:55px;
    z-index:7;
    font-size: 28px;
    width:140px;
}
#textArea2{
    position: fixed;
    top:200px;
    left:210px;
    z-index:7;
    font-size: 28px;
    width:140px;
}
#음영{
    width: 10px; height: 350px;
    background-color:darkgray;
    position: fixed;
    top:200px; left: 350px;
    z-index: 6;
}
#선{
    width: 3px; height: 350px;
    background-color:black;
    position: fixed;
    top:200px; left: 200px;
    z-index: 6;
}
#윗면{
    width: 500px; height: 100px;
    background-color:rgb(148, 107, 54);
    position: fixed;
    top:520px; left: 0px;
    z-index: 0;
}
#두께{
    width: 500px; height: 50px;
    background-color:rgb(89, 64, 32);
    position: fixed;
    top:620px; left: 0px;
    z-index: 0;
}
#lib{
    width: 550px; height: 550px;
    z-index: 0;
}
button{
    width: 100px; height: 50px;
    background-color: deeppink;
    position: fixed;  
    left: 160px;
    top: 560px;
    z-index: 6;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
#timebar{
    width: 400px; height: 25px;
    background-color: aliceblue;
    z-index: 2;
    position: fixed;
    top:20px; left:0px;

}
#time{
    width: 390px; height: 25px;
    background-color: deeppink;
    z-index: 4;
    position: fixed;
    top:20px; left:0px;

}
#bug{
    position: fixed;
    font-size: 60px;
    top:100px;
    transform: rotate(12deg);
    z-index: 6;
    
}
.hidden{
    display:none;
}


#home{
    font-size: 30px;
    position: fixed;
    top: 50px;
    left:20px;  
    z-index: 6;
    cursor: pointer;
}
#countdown{
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,.35);
    z-index: 10000;
    pointer-events: auto;
}
#countdown.hidden { display: none; }
#countText{
    font-family: "Gasoek One";
    font-size: 130px;
    color: #fff;
    text-shadow:
    2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000;
    animation: pop 1s;

}
@keyframes pop {
    0%   { opacity: 0; transform: scale(.8) translateY(8px); }
    60%  { opacity: 1; transform: scale(1.1) translateY(-2px); }
    100% { opacity: 1; transform: scale(1) translateY(0); }
  }
  #winOverlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
}

.win-box{
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.win-box h2{
    font-size: 30px;
    margin-bottom: 30px;
    font-family: "Gasoek One", sans-serif;
}

.btns{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btns button,
.btns a{
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: deeppink;
    color: white;
    font-family: "Gasoek One", sans-serif;
}

.btns a{
    background-color: deepskyblue;
    text-shadow:
    2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000;
}

#winOverlay.hidden{
    display: none;
}