html,
body {
    overflow: hidden;
    margin: 0px;
    user-select: none;
    width: 100%;
    height: 100%;
    background-color: black;
}
#등판{
    width: 430px; height: 300px;
    background-color:rgb(232, 200, 159);
    border-radius: 10px;
    position: fixed;
    top:260px; left: 20px;
    z-index: 1;
}
#밑단{
    width: 450px; height: 30px;
    background-color:rgb(206, 177, 139);
    border-radius: 10px;
    position: fixed;
    top:550px; left: 10px;
    z-index: 2;
}
#철사{
    width: 500px; height: 500px;
    background-color:rgb(77, 70, 60);
    border-radius: 10px;
    position: fixed;
    top:10x; left: 150px;
    z-index: 6;
}
#책커버{
    width: 400px; height: 350px;
    background-color:darkcyan;
    border-radius: 4px;
    position: fixed;
    top:200px; left: 30px;
    z-index: 4;
}
#종이{
    width: 380px; height: 350px;
    background-color:ghostwhite;
    border-radius: 4px;
    position: fixed;
    top:200px; left: 40px;
    z-index: 5;
}
#음영{
    width: 10px; height: 350px;
    background-color:darkgray;
    position: fixed;
    top:200px; left: 410px;
    z-index: 6;
}
#선{
    width: 3px; height: 350px;
    background-color:black;
    position: fixed;
    top:200px; left: 230px;
    z-index: 6;
}
#윗면{
    width: 500px; height: 100px;
    background-color:rgb(148, 107, 54);
    position: fixed;
    top:520px; left: 0px;
    z-index: 0;
}
#두께{
    width: 500px; height: 50px;
    background-color:rgb(89, 64, 32);
    position: fixed;
    top:620px; left: 0px;
    z-index: 0;
}
#lib{
    width: 550px; height: 550px;
}
